.createLook-box-ctn{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .header-ctn{
        width: 100%;
        height: 60px;
    }
    .main-ctn{
        width: 100%;
        height: calc( 100% - 60px );

        display: flex;
        flex-direction: row;
        justify-content: center;        

        .styling-requirement-ctn{
            width: 300px;
            height: 100%;
            padding: 20px 0px ;

        }
        .styling-editor-ctn{
            width: calc( 100% - 300px );
            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;  

            .editor-box{
                width: calc( 100% - 350px );
                height: 100%;

                display: flex;
                flex-direction: row;
                justify-content: center;

            }
            .wardrobe-box{
                width: 350px ;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                border: 1px solid #707070;

                overflow-x: hidden;
                overflow-y: auto;
            }
        }
    }
}